In [1]:
import pandas as pd
import time
import numpy as np
import mxnet as mx
import inflect
from mxnet import nd, autograd, gluon
from mxnet.gluon import nn, rnn

import datetime
import seaborn as sns

import matplotlib.pyplot as plt
from sklearn.decomposition import PCA

import math

from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler

import xgboost as xgb
from sklearn.metrics import accuracy_score

In [2]:
context = mx.cpu(); model_ctx=mx.cpu()
mx.random.seed(1719)

In [4]:
def parser(x):
    return datetime.datetime.strptime(x,'%m/%d/%Y')

In [5]:
dataset_ex_df = pd.read_csv("AmazonStockPriceDataset.csv", header=0, parse_dates=[0], date_parser=parser)

In [6]:
dataset_ex_df[['Date','Open','Close']].head(5)

        Date        Open       Close
0 2010-01-04  136.250000  133.899994
1 2010-01-05  133.429993  134.690002
2 2010-01-06  134.600006  132.250000
3 2010-01-07  132.009995  130.000000
4 2010-01-08  130.559998  133.520004

In [11]:
number_of_days = (dataset_ex_df.shape[0])
year = int(number_of_days / 365)
month = (number_of_days - year *365) % 30
totalweeks = int(number_of_days % 365) 
week = int((number_of_days % 365) % 7)
days = (number_of_days % 365) % 7

In [13]:
print(f'The total number of days in the dataset is {number_of_days} equivalent to {totalweeks} weeks ')
print(f'or {year} year/s , {month} months and {days} days ')

The total number of days in the dataset is 2265 equivalent to 75 weeks
or 6 year/s , 15 months and 5 days